lambda-archive/gradingStateMachine.json
{
  "Comment": "Processing submission",
  "StartAt": "Problem Grader",
  "States": {
    "Problem Grader": {
      "Comment": "Updates database with empty stuff",
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:ap-southeast-1:354145626860:function:codebreaker-grader-v2-problem-grader:$LATEST",
        "Payload": {
          "problemName.$": "$.problemName",
          "username.$": "$.username",
          "submissionId.$": "$.submissionId",
          "submissionTime.$": "$.submissionTime",
          "language.$": "$.language",
          "regradeall.$": "$.regradeall",
          "stitch.$": "$.stitch",
          "regrade.$": "$.regrade"
        }
      },
      "Next": "Parallel Invocation"
    }, 
    "Parallel Invocation": {
      "Comment": "Invokes variable numebr of testcase graders in parallel",
      "Type": "Map",
      "ResultPath":null,
      "ItemsPath": "$.Payload.payloads",
      "MaxConcurrency": 0,
      "Iterator": {
        "StartAt": "Testcase Grader",
        "States": {
          "Testcase Grader": {
            "Type": "Task",
          "Resource": "arn:aws:lambda:ap-southeast-1:354145626860:function:codebreaker-testcase-grader",
            "End": true
          }
        }
      },
      "Next": "Update Score"
    },
    "Update Score":{
      "Comment": "Updates database with scores",
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "InputPath": "$.Payload",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:ap-southeast-1:354145626860:function:codebreaker-grader-v2-problem-scorer:$LATEST",
        "Payload": {
          "problemName.$": "$.payloads[0].problemName",
          "username.$": "$.username",
          "submissionId.$": "$.payloads[0].submissionId",
          "regradeall.$": "$.regradeall",
          "stitch.$": "$.stitch",
          "regrade.$": "$.regrade"
        }
      },
      "End": true
    }
  }
}
