lambda-archive/gradingStateMachineExpress.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Lambda Invoke",
  "States": {
    "Lambda Invoke": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:ap-southeast-1:354145626860:function:codebreaker-grader-v2-problem-grader:$LATEST"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "Next": "Iterate Testcases"
    },
    "Iterate Testcases": {
      "Type": "Map",
      "ResultPath": null,
      "Iterator": {
        "StartAt": "Testcase Grader",
        "States": {
          "Testcase Grader": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
              "Payload.$": "$",
              "FunctionName": "arn:aws:lambda:ap-southeast-1:354145626860:function:codebreaker-testcase-grader:$LATEST"
            },
            "Retry": [
              {
                "ErrorEquals": [
                  "Lambda.ServiceException",
                  "Lambda.AWSLambdaException",
                  "Lambda.SdkClientException"
                ],
                "IntervalSeconds": 2,
                "MaxAttempts": 6,
                "BackoffRate": 2
              }
            ],
            "End": true
          }
        }
      },
      "MaxConcurrency": 200,
      "ItemsPath": "$.payloads",
      "Next": "Update Score"
    },
    "Update Score": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:ap-southeast-1:354145626860:function:codebreaker-grader-v3-problem-scorer:$LATEST",
        "Payload": {
          "problemName.$": "$.payloads[0].problemName",
          "username.$": "$.username",
          "submissionId.$": "$.payloads[0].submissionId",
          "regradeall.$": "$.regradeall",
          "stitch.$": "$.stitch",
          "regrade.$": "$.regrade"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "End": true
    }
  }
}
